exportPattern("^[[:alpha:]]+")
import("stats")
importFrom("methods", "is")
importFrom("graphics", "abline", "hist", "lines", "par", "title", "mtext", "matlines", "legend", "points", "text", "arrows", "axis")
importFrom("mvtnorm", "pmvt", "qmvt", "pmvnorm", "Miwa")
